# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
.eggs/
*.egg-info/

# Unit test / coverage reports
.cache
.coverage

# PyTest
.pytest_cache

# Jupyter Notebook
.ipynb_checkpoints

# PyCharm project settings
.idea
